
.weather-img{
    width:50px;
    height:50px;
    margin-left: 5%;
}
.weather-card{
    width:18%;
    margin:1%;
    display:inline-block;
    background-color:#3385ff;
    border-style: solid;
    border-color: #3385ff;

}

.weather-box{
    background-color:#3385ff;
    color:white;  
    border-style: none;
    
}

.uv-low{
    color:white;
    background-color:green;
}

.uv-med{
    color:white;
    background-color:orange;
}

.uv-high{
    color:white;
    background-color:red;
}

@media only screen and (max-width:768px){
    .weather-card{
        width:100%;
        display:block
    }
}

.hidden{
    display:none
}